{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>{{ _('Council Member Dashboard') }}</h1>
    <div class="card">
        <h2>{{ _('Projects to Vote On') }}</h2>
        {% if projects_to_vote %}
            <ul class="list-group">
                {% for project in projects_to_vote %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ url_for('project', project_id=project.id, locale=get_locale())  }}">{{ project.title }}</a>
                        <small>{{ _('Voting ends') }}: {{ project.voting_deadline.strftime('%Y-%m-%d %H:%M') }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ _('No projects currently open for voting.') }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}